---
import { getClient } from '@/sanity';
import { HOME_QUERY } from '@/sanity/queries';
import type { HOME_QUERY_RESULT } from '../../sanity.types';
import Layout from '../layouts/layout.astro';
export const prerender = true

const sanityClient = getClient({
  PUBLIC_SANITY_PROJECT_ID: import.meta.env.PUBLIC_SANITY_PROJECT_ID,
  PUBLIC_SANITY_DATASET: import.meta.env.PUBLIC_SANITY_DATASET,
  SANITY_TOKEN: import.meta.env.SANITY_TOKEN,
} as Env);
const homeData = await sanityClient.fetch<HOME_QUERY_RESULT>(HOME_QUERY);
---

<Layout>
	<h1>Sanity Data:</h1>
	<pre>{JSON.stringify(homeData, null, 2)}</pre>
</Layout>
