---
import '../styles/global.css';
import { sanityClient } from '@/sanity';
import { HEADER_QUERY, FOOTER_QUERY } from '@/sanity/queries';
import type { HEADER_QUERY_RESULT, FOOTER_QUERY_RESULT } from '../../sanity.types';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
}

const { title = 'Astro + Sanity' } = Astro.props;

const [headerData, footerData] = await Promise.all([
  sanityClient.fetch<HEADER_QUERY_RESULT>(HEADER_QUERY),
  sanityClient.fetch<FOOTER_QUERY_RESULT>(FOOTER_QUERY),
]);
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-full flex flex-col">
    <Header data={headerData} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer data={footerData} />
  </body>
</html>
